.todoDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 16px;
  margin-right: 10px;
  margin-bottom: 0;
}

input[type=checkbox] {
  float: right;
}

.done {
  text-decoration: line-through;
}
